
body{
  overflow-x: hidden;
}
.portfolioSec{
  background-color: rgb(28, 36, 41);
  color: aliceblue;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projectBg{
  margin-top: 100px;
  background-color:rgba(44, 54, 59, 0.479);
  padding: 20px 0px 20px 10px;
}

.projectContent{
  margin-left: 50px;
}
.projectImg>img{
  height: 260px;
  margin-right: 50px;
  width: 100%;
}

.prjectBtn{
  margin-top: 20px;
  display: block;
  text-align: center;
  width: 40%;
  padding: 7px 14px;
  border: 1px solid #e0a236;;
}
.condition{
  color: #e0a236;
  margin-top: 20px;
  font-weight: 700;
  padding-left: 10px;
}
.techPost{
  color:#ddc69f;
  word-spacing: 3px;
}










