

.banner{
  height: 670px;
  width: 100%;
  background-color:#2f363d;
  padding-top: 200px;
  position: relative;
  overflow: hidden;
}

.banner::before{
  position: absolute;
  content: '';
  bottom: -12%;
  left:-10%;
  width: 200%;
  height: 174px;
  background-color:#ce8e20;
  transform: rotate(3deg);
  border-top: 3px solid #1f252b;
}








.typedTitle{
  color: aliceblue;
  margin-bottom: 40px;
  letter-spacing: 2px;
  margin-top: 20px;
}
.typer-box>h3{
  color: #e0a236;
  font-weight: 700;
  font-size: 26px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.7s ;
}

.resumeBtn{
  border: 2px solid #e0a236;
  outline: none;
  padding: 10px 30px;
  background:none;
  margin-top: 30px;
  color: #e0a236;
  font-weight: 500;
  letter-spacing: 2px;
}



.imgBox-banner{
  margin-top: -78px;
}

@media (min-width: 32px) and (max-width: 767px) {
  .imgBox-banner{
    display: none;
  }
  
}





