

.banner{
  height: 670px;
  width: 100%;
  background-color:#2f363d;
  padding-top: 200px;
  position: relative;
  overflow: hidden;
}

.banner::before{
  position: absolute;
  content: '';
  bottom: -12%;
  left:-10%;
  width: 200%;
  height: 174px;
  background-color:#ce8e20;
  transform: rotate(3deg);
  border-top: 3px solid #1f252b;
}








.typedTitle{
  color: aliceblue;
  margin-bottom: 40px;
  letter-spacing: 2px;
  margin-top: 20px;
}
.typer-box>h3{
  color: #e0a236;
  font-weight: 700;
  font-size: 26px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.7s ;
}

.resumeBtn{
  border: 2px solid #e0a236;
  outline: none;
  padding: 10px 30px;
  background:none;
  margin-top: 30px;
  color: #e0a236;
  font-weight: 500;
  letter-spacing: 2px;
}



.imgBox-banner{
  margin-top: -78px;
}

@media (min-width: 32px) and (max-width: 767px) {
  .imgBox-banner{
    display: none;
  }
  
}



.socialBox{
  display: flex;
  margin-top: 30px;
}
.social-icon{
  color: #ce8e20;
  font-size: 30px;
  margin-right: 50px;
  /* transition-property: border-left, border-right;
  transition-duration: 0.3s; */
  border-right: 2px solid #ce8e2000;
  border-left: 2px solid #ce8e2000;
  padding: 6px 12px;
  position: relative;
  transition: 0.5s;
}
.social-icon:hover{
  border-right: 2px solid #ce8e20;
  border-left: 2px solid #ce8e20;
}

.social-icon::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #ce8e20;
  transition: 0.5s;
}
.social-icon::after{
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: #ce8e20;
  transition: 0.5s;

}
.social-icon:hover::after{
  width: 100%;
}
.social-icon:hover::before{
  width: 100%;
}
.social-icon>a{
  color: #ce8e20;
}
.social-icon>a:hover{
  color: #ce8e20;
}
