

.footer-box{
  background-color: rgb(22, 29, 37);
  color: rgb(202, 124, 6);
  padding-top: 20px;
  padding-bottom: 10px;
  border-left: 50px solid rgb(202, 124, 6);
  border-right: 40px solid rgb(219, 141, 22);
}








